div {
    background-color: #D3EBCD;

}

body {
    margin: 0;
    text-align: center;
    font-family: 'Merriweather', serif;
    background-color: #D3EBCD;
}

h1 {
    line-height: 2;
    color: #635666;
    font-size: 5.625rem;
    margin: 50 auto 0 auto;
    padding-top: 60px;
    font-family: 'Sacramento', cursive;

}

h2{
    font-weight: normal;
    color: #635666;
    margin-top: 0;
    font-size: 2.5rem;
    font-family: 'Montserrat', sans-serif;
}

h3{
    font-family: 'Montserrat', sans-serif;
}
.cloud1 {
    width: 450px;
    height: 144px;
    position: absolute;
    right: 380px;
}
.profile{
    padding: 80px;
    align-items: center;
}
.web-development{
    margin-right: 30px;
    float: left;
    width: 25%;
    height: 25%;
}
.balisong{
    background-color: #0069a3;
    margin-left: 30px;
    float: right;
    width: 25%;
    border-radius: 50%;
}
.img{
    display: none;
}
p{
    font-family: 'Montserrat', sans-serif;
}

a{
    color: #82f7d6;
    padding: 10px;
    font-family: 'Montserrat', sans-serif;
}

a:hover{
    color:#2d715e
}
span{
    color: #a92fc4;
}

.skill-row{
    padding-top: 50px;
    margin: 50px auto 100px auto;
    width: 50%;
    text-align: left;
}
.bottom-container
{
    background-color: #2fbc8d;
    margin-top: 100px;
    padding-bottom: 20px;
    padding-top: 20px;
}

.btn {
    background: #2a9d77;
    background-image: -webkit-linear-gradient(top, #2a9d77, #115941);
    background-image: -moz-linear-gradient(top, #2a9d77, #115941);
    background-image: -ms-linear-gradient(top, #2a9d77, #115941);
    background-image: -o-linear-gradient(top, #2a9d77, #115941);
    background-image: linear-gradient(to bottom, #2a9d77, #115941);
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 8px;
    font-family: 'Montserrat', sans-serif;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    border: solid #2a9d77 2px;
    text-decoration: none;
  }
  
  .btn:hover {
    background: #2a9d77;
    background-image: -webkit-linear-gradient(top, #2a9d77, #48e8b3);
    background-image: -moz-linear-gradient(top, #2a9d77, #48e8b3);
    background-image: -ms-linear-gradient(top, #2a9d77, #48e8b3);
    background-image: -o-linear-gradient(top, #2a9d77, #48e8b3);
    background-image: linear-gradient(to bottom, #2a9d77, #48e8b3);
    text-decoration: none;
  }

.cprt{
    color: azure
}
